@media only screen and (max-width: 1024px;)
* { box-sizing: border-box; }
header, nav, main, footer { display: block; }
body { background-color: #ffffff;
      color: #003366 ;
	  font-family: Verdana, Arial, sans-serif;
        margin: 0em;
        padding: 0em;
}
header { background-color: #000066;
       color: #F0F0F0;
	   background-image: url(bigfish.gif);
	   background-repeat: no-repeat;
	   background-position: center;
	   text-align: center;
}
h1 { line-height: 200%;
 	margin-bottom: 0;
	font-size: 1.8em;
	padding: .2em;
	text-shadow: 3px 3px 3px #CCCCCC;

}
nav { font-weight: bold;  
     padding: 0px;
	 float: none;
	 width: auto;
}
nav li { display: inline-block;}
nav ul { list-style-type: none; 
            margin: 0em;
            padding: 0em;
            text-align: center;}
nav a { text-decoration: none; }
nav a:link { color: #000066; }
nav a:visited { color: #5280C5; }
nav a:hover { color: #3262A3; }
nav a: {padding: 1em;}
nav a: {font-size 1.2em;}

.category { font-weight: bold;
			color: #5280C5;
			 font-family: Georgia, "Times New Roman", serif; 
			 text-shadow: 1px 1px #667;
}
img { border-style: none; }
dt { font-weight: bold;
     font-size: 1.1em;
	 color: #5280C5;
     font-family: Georgia, "Times New Roman", serif;	 
}
main { padding-left: 2em;
      padding-right: 2em;
	  margin-left: 180px;
	  background-color: #FFFFFF;
	 border: 1px solid #AEC3E3;

}
footer { font-size: 90%;
       font-style: italic;
	   text-align: center;
	   background-color: #AEC3E3;
	   margin-left: 0px;
	   padding -left: 2em;
}
#wrapper { width: 80%;
           margin: 0em;
		   background-color: #F0F0F0;
		   min-width: 0px;
}